body{
    
        font-family: 'Times New Roman', Times, serif;
        color: rgb(0, 0, 0);
        margin:0;
        padding: 0;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-size: cover;
        text-align: center;
} 

div {
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
}
                div {
                        padding: 10px 20px;
                }


.header {
        background-color: rgba(255, 0, 0, 0.192);
        text-align: center;
        line-height: 30px;
        color: rgb(0, 0, 0);
        border-bottom: 3px dashed black;
}

.menu-icono {
        display: none;
        cursor: pointer;
}

.logo {
        font-size: 30px;
        text-decoration: none;
        color: #fff;
}

.container {
        max-width: 1200px;
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

}

footer {
        text-align: center;
        background-color: #a30808a6;
        color: #fff;
        padding: 10px;
}

      
     

.navbar ul {
        list-style: none;
        margin: 0;
        padding: 0;
}

    

.estrenos {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
       
}

     


.cartelera img {
    width: 200px;
    transition: transform 0.5s;
    transform-origin: center;

}


.cartelera:hover img {
    transform: rotatey(360deg);
}

.sinopsis{
        text-align: center;
}