body{
        background-color: rgb(0, 0, 0);
        font-family: 'Times New Roman', Times, serif;
        color: rgb(211, 208, 208);
        margin:0;
        padding: 0;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-size: cover;
        text-align: center;
        
        
} 

.clearfix {
        clear: both;
}

div {
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
}
                div {
                        padding: 10px 20px;
                }


                
.header {
        background-color: rgb(0, 0, 0);
        text-align: center;
        line-height: 80px;
        color: rgb(0, 0, 0);
        border-bottom: 3px dashed black;
}

.menu-icono {
        display: none;
        cursor: pointer;
}

.logo {
        font-size: 30px;
        text-decoration: none;
        color: #fff;
}

.container {
        max-width: 1200px;
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

}



      
     

.navbar ul {

        list-style: none;
        margin: 1;
        padding: 1;
}

    

.estrenos {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
       
}

     


.cartelera img {
    width: 200px;
    transition: transform 0.5s;
    transform-origin: center;

}


.cartelera:hover img {
    transform: rotatey(360deg);
}

.pelicula1{
        text-align: center;
        color:#48ee6c;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
